@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 2px; /* Rounded corners of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the scrollbar thumb on hover */
}

a{
  color: blue;;
}

li{
  text-decoration: none;
}